*{
    margin: 0;
    padding: 0;
}
.contanier{
    margin: 0 auto;
    width: 1200px;
}
h1{
    text-align: center;
    font-size: 100px;
    color: rgb(253, 10, 10);
    font-family: cursive, sans-serif;
    font-weight: bold;
    margin-top: 100px;
}
body{
    background: linear-gradient(to top, rgb(21, 255, 0), rgb(107, 13, 13), black) no-repeat center / cover;
    height: 800px;
}